<!-- --------------------------------------------------Hero Section-------------------------------------------------- -->
<div
  id="hero"
  class="w-full lg:min-h-[90vh] text-center flex flex-col items-center justify-center gap-[1em] p-[3em]"
>
  <h1 class="mt-[70px]">Lorem ipsum dolor sit amet.</h1>
  <p>Voluptatum, consequatur. Accusamus, libero quas.</p>
  <p>
    Suscipit dolor cupiditate? Excepturi tempore asperiores? Repudiandae maiores
    perspiciatis blanditiis!
  </p>
  <button (click)="this.auth.triggerGSI()">
    Get Started <i class="bx bxs-chevron-right"></i>
  </button>
</div>
<hr />
<!-- --------------------------------------------------End Hero Section-------------------------------------------------- -->

<!-- --------------------------------------------------Section-------------------------------------------------- -->
<app-section />
<!-- --------------------------------------------------End Section-------------------------------------------------- -->

<!-- --------------------------------------------------FAQ Section-------------------------------------------------- -->
<app-accordian />
<hr />
<!-- --------------------------------------------------End FAQ Section-------------------------------------------------- -->
