<!-- --------------------------------------------------Header-------------------------------------------------- -->
<nav
  class="fixed bg-[rgba(0,0,0,0.75)] z-10 max-h-[70px] w-full flex justify-between items-center px-[1em] md:px-[4em] py-2.5 top-0"
>
  <img class="h-[5em]" src="../../../assets/logo.png" alt="NetFlix Logo" />
  <div *ngIf="!isUserSignedIn" id="gsiButton"></div>
  <div *ngIf="isUserSignedIn" class="flex items-center justify-evenly gap-3">
    <p class="hidden lg:block">
      Welcome
      <span class="text-[#f30f20]">{{ userName }}</span> !
    </p>
    <img [src]="userProfileImageURL" alt="userName" class="w-11 rounded-full" />
    <button (click)="toggleModal()">
      Sign Out <i class="bx bx-log-out"></i>
    </button>
  </div>
</nav>
<!-- --------------------------------------------------End Header-------------------------------------------------- -->

<!-- --------------------------------------------------Modal-------------------------------------------------- -->
<div
  id="modal"
  class="bg-[rgba(0,0,0,0.6)] absolute hidden h-screen w-full z-20 justify-center items-center"
>
  <div class="bg-[rgba(0,0,0,0.9)] p-5 border-4 border-[#232323] rounded-[1em]">
    <p>Are you sure to <span class="text-[#f30f20]">Sign Out</span> ?</p>
    <div class="flex mt-5 justify-evenly">
      <button (click)="toggleModal()">
        Stay Here <i class="bx bx-happy"></i>
      </button>
      <button (click)="auth.signOut()">Leave <i class="bx bx-sad"></i></button>
    </div>
  </div>
</div>
<!-- --------------------------------------------------End Modal-------------------------------------------------- -->
