<!-- --------------------------------------------------Header-------------------------------------------------- -->
<app-header />
<!-- --------------------------------------------------End Header-------------------------------------------------- -->

<!-- --------------------------------------------------Router Outlet-------------------------------------------------- -->
<router-outlet />
<!-- --------------------------------------------------End Router Outlet-------------------------------------------------- -->

<!-- --------------------------------------------------Footer-------------------------------------------------- -->
<app-footer />
<!-- --------------------------------------------------End Footer-------------------------------------------------- -->
