/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-[3em] font-bold;
}
p {
  @apply text-[1.5em];
}
hr {
  @apply border-[#232323] border-y-4;
}
button {
  @apply bg-[#f30f20] hover:bg-[#c11119] font-[bold] px-[1em] py-[0.75em] rounded-[0.25em] transition delay-100 duration-[1000ms];
}
li {
  @apply w-fit my-3 relative hover:text-[#f30f20] before:bg-[#f30f20] before:content-["_"] before:w-[0%] before:h-px before:absolute before:transition-[500ms] before:duration-[500ms] before:delay-100 before:bottom-0 hover:before:w-full;
}

::-webkit-scrollbar {
  height: 3px;
  width: 11px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #f30f20;
  border-radius: 50%;
}
::-webkit-scrollbar-thumb:hover {
  background: #c11119;
}
