<div class="mt-[70px]"></div>
<!-- --------------------------------------------------Browse Category-------------------------------------------------- -->
<ng-container *ngFor="let section of movieBannerCarousel">
  <div #{{section.templateRef}} class="scroll-mt-[70px]">
    <!-- -------------------------Banner------------------------- -->
    <app-banner
      [category]="section.category"
      [title]="section.title"
      [overview]="section.overview"
      [key]="section.key"
      [isBackdrop]="section.isBackdrop"
    />
  </div>
  <!-- -------------------------End Banner------------------------- -->

  <!-- -------------------------Carousel------------------------- -->
  <app-carousel [videoContents]="section.videoContents" />
  <!-- -------------------------End Carousel------------------------- -->
</ng-container>
<!-- --------------------------------------------------End Browse Category-------------------------------------------------- -->
